{% if content %}
{% set id = random() %}
<div {{ attributes.addClass('panel-group').removeAttribute('id') }} id="accordion-{{ id }}">
  {% for region in layout.getRegionNames if content[region] %}
  <div class="panel panel-default">

    <!-- Header as a toggler -->
    <a class="panel-heading center-block" data-toggle="collapse" data-parent="#accordion-{{ id }}" href="#accordion-{{ id }}-{{ region }}">
      {{ content[region]['#label'] }}
    </a>

    <!-- Collapsible pane -->
    <div class="panel-collapse collapse {{ loop.first ? 'in' }}" id="accordion-{{ id }}-{{ region }}">
      <div class="panel-body">
        {{ content[region] }}
      </div>
    </div>

  </div>
  {% endfor %}
</div>
{% endif %}
