{% if content %}
{% set id = random() %}
<div {{ attributes }}>

<!-- Nav tabs -->
<nav class="nav nav-tabs mb-3">
  {% for region in layout.getRegionNames if content[region] %}
  <a class="nav-item nav-link {{ loop.first ? 'active' }}" data-toggle="tab" href="#tab-{{ id }}-{{ region }}">
    {{ content[region]['#label'] }}
  </a>
  {% endfor %}
</nav>

<!-- Tab panes -->
<div class="tab-content">
  {% for region in layout.getRegionNames if content[region] %}
  <div class="tab-pane {{ loop.first ? 'active' }}" id="tab-{{ id }}-{{ region }}">
    {{ content[region] }}
  </div>
  {% endfor %}
</div>

</div>
{% endif %}
